<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            {% unless site.facebook_username == %}
            <a id="contact-button" href="https://m.me/{{site.facebook_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-facebook-messenger"></i>Ping me on Messenger
            </a>
            {% endunless %}
            {% unless site.email == %}
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Send me an Email
            </a>
            {% endunless %}
            {% unless site.twitter_username == %}
            <a id="contact-button" href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-twitter"></i>Tweet me on Twitter
            </a>
            {% endunless %}
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                You Can find me here
            </h3>
            <div class="column is-full is-size-3">
                {% unless site.facebook_username == %}
                <a href="http://www.facebook.com/{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-facebook"></i></a>
                {% endunless %}
                {% unless site.twitter_username == %}
                <a href="https://twitter.com/intent/user?screen_name={{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
                {% endunless %}
                {% unless site.instagram_username ==  %}
                <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-black" style="margin: 0 10px; display: inline-block;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="34" height="34" fill="currentColor"><path d="M100.28 448H7.4V148.9h92.88zm-46.44-339a53.51 53.51 0 1 1 53.5-53.5A53.51 53.51 0 0 1 53.84 109zM447.9 448h-92.68V302.4c0-34.7-12.4-58.4-43.4-58.4-23.7 0-37.8 16-44 31.4-2.3 5.5-2.9 13.2-2.9 21v151.6h-92.7s1.2-246 0-271.6h92.7v38.5c-.2.3-.5.7-.7 1h.7v-1c12.3-19 34.3-46.3 83.6-46.3 61 0 106.6 39.8 106.6 125.4z"/></svg>
                </a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black" style="margin: 0 10px; display: inline-block;">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" width="34" height="34" fill="currentColor"><path d="M244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-43.7-9.5-12.9-21.5-19.8-21.5-19.8-22-15.1.7-15.1.7-15.1 22 .7 33.6 22.3 33.6 22.3 19.5 33.7 51.7 24.5 64.5 18.5 2-14.8 8.2-24.5 14.9-29.8-52-5.9-106.3-25.8-106.3-114.6 0-25.5 9.2-46.5 24.3-62.7-2.6-5.9-10.7-30.2 2.6-63.1 0 0 20.9-6.2 68.5 24.3 19.9-5.6 41.4-8.5 62.9-8.5 21.5 0 43 2.9 62.9 8.5 47.6-30.5 68.5-24.3 68.5-24.3 13.3 32.9 5.2 57.2 2.6 63.1 15.1 16.2 24.3 37.2 24.3 62.7 0 88.8-54.3 108.7-106.3 114.6 8.5 7.2 15.5 21.5 15.5 43.7 0 31.7-.3 70.7-.3 78.2 0 6.5 4.6 14.4 17.3 12.1C424.2 457.8 488 360.9 488 252 488 113.3 382.9 8 244.8 8z"/></svg>
                </a>
                {% endunless %}
                {% unless site.youtube_channel_id ==  %}
                <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
                {% endunless %}
                {% unless site.reddit_username ==  %}
                <a href="http://www.reddit.com/u/{{site.reddit_username}}" target="_blank" class="has-text-black"><i class="fab fa-reddit"></i></a>
                {% endunless %}
                {% unless site.behance_username ==  %}
                <a href="http://www.behance.com/{{site.behance_username}}" target="_blank" class="has-text-black"><i class="fab fa-behance"></i></a>
                {% endunless %}
                {% unless site.dribbble_username ==  %}
                <a href="http://www.dribbble.com/{{site.dribbble_username}}" target="_blank" class="has-text-black"><i class="fab fa-dribbble"></i></a>
                {% endunless %}
                {% unless site.spotify_username ==  %}
                <a href="http://open.spotify.com/user/{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-spotify"></i></a>
                {% endunless %}
            </div>
        </div>
    </div>
</section>
